* {
   box-sizing: border-box;
}

:root {
   --bg-color: #fff;
   --text-color: #666666;
   --menu-hover: #ebd9b7;

   }

body {
    margin: 0;
    padding: 0;
   background-color: var(--bg-color);
   font-family: "Lobster",cursive;
   color: var(--text-color);
}
p{
    text-align: center;
    font-size: 1.5rem;
}
.container {
    margin: 0 auto;
    width: 90%;
}
 .cb {
    clear: both;   
 }
 
 /*****HEADER*************************************/
header{
   height: 20%;
}
 .titulo{
    width: 100%;
    text-align: center;
 }
 .titulo p{
   font-size: 1.9rem;
 }

 /****MENU**************************************/
 nav {
    width: 12%;
    height: 400px;
    text-align: left;
    float: left;
    display: flex;
 }
nav ul{
padding:1px;
border: 1px solid black;
}
 nav ul li{
    margin: 0;
    padding: 1px;

 }
 nav li{
    display: block;
    text-decoration: none;
    margin: 25px;
    height: 40px;
    padding: 5px;
 }
 nav li:hover{
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
 }
 /*****MAIN***************************************/
 main{
   display: flex;
 }
 section {
    padding: 1px;
    width: 88%;
    height: 525px;
    float: right;
 }
 section p{
    font-size: .9rem;
 }
 .block-arriba{
    display: flex;
    width: 100%;
    height: 50%;
    margin: 2px;
    border: 1px solid (var(--card-izq));
}
.block-box-arriba{
    width: 40%;
    border-radius: 8px;
    border: 1px solid #6a6767;
    margin: 2px;
   text-align: center;

  }
.block-box-arriba-flex-grow{
   width: 40%;
   flex-grow: 1;
   border-radius: 8px;
   border: 1px solid #6a6767;
   margin: 2px;
}
.block-box-arriba-flex-grow p{ 
   font-size: .7rem;
}
.block-box-arriba img{
    width: 85%;
    height: 50%;
    border-radius: 8%;
    margin: 25px 40px;
 }
 .block-box-arriba-flex-grow img{
    width: 85%;
    height: 50%;
    border-radius: 8%;
    margin: 25px 40px;
 }
 .block-abajo{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    margin: 2px;
 }
 .block-box-abajo{
    width: 33%;
    height: 90%;
    border-radius: 8%;
    border: 1px solid #6a6767;
    margin: 5px;
    text-align: center;
 }
 .block-box-abajo img{
    width: 85%;
    height: 50%;
    border-radius: 8%;
    text-align: center;
    margin: 15px 20px;

 }

 /*************FOOTER****************/

 footer{
    width: 100%;
    height: 90px;
   display: flex;
    position: relative;
   

 }
 footer p{
    font-size: .8rem;
 }

 .texto1{
    float: left;
    width: 25%;
    margin-top: 5px;
 }
 .texto1 p{
   text-align: left;
 }
 .footer-text-centro{
    width: 40%;
    height: auto;
    float: left;
    margin-left: 55px;
    margin-top: 5px;
 }
 .footer-logos{
    width: 25%;
    float: right;
    margin-top: 5px;
    

 }
 .footer-logos img{
    height: 50px;
    margin: 5px;
    padding: 1px;
    float: right;
    border-radius: 25px;
 }
 .footer-logos img:hover{
    width: 20%;
    height: 15%;
 }




